# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=5432

# Backend config
DB_HOST=localhost
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
PORT=3005

# Origin
CLIENT_HOST=http://localhost:5173

NODE_ENV=development
